<div class="container">
    <div class="row valign-wrapper">
        <div class="col s6 offset-s3 valign">
            <div class="card-panel hoverable">
                <div class="card-image">
                    <div class="col s6">
                        <h2>Register</h2>
                    </div>
                </div>
                <div class="card-content">
                    <form #registrationForm="ngForm">
                        <div class="row">
                            <div class="input-field col s12">
                                <span class="material-icons-outlined prefix">
                  account_circle
                </span>
                                <input placeholder="Name" id="name" type="text" class="validate" #Name ngModel required/>
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <span class="material-icons-outlined prefix"> email </span>
                                <input placeholder="Email" id="name" type="text" class="validate" #Email ngModel required />
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn-large btn-submit" type="submit ">
                  Start
                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
